### *Load the sql and required libraries*

In [20]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [21]:
from time import time
import configparser
import matplotlib.pyplot as plt
import pandas as pd

### *Fetches the data from dwh.cfg file*

In [22]:
config = configparser.ConfigParser()
config.read_file(open('dwh.cfg'))
KEY                    =   config.get('AWS','KEY')
SECRET                 =   config.get('AWS', 'SECRET')
DB_NAME                =   config.get("CLUSTER","DB_NAME")
DB_USER                =   config.get("CLUSTER","DB_USER")
DB_PASSWORD            =   config.get("CLUSTER","DB_PASSWORD")
PORT                   =   config.get("CLUSTER","PORT")

In [23]:
ENDPOINT       =  config.get("CLUSTER", "HOST")

### *Connects to the Database*

In [24]:
import os 
conn_string="postgresql://{}:{}@{}:{}/{}".format(DB_USER, DB_PASSWORD, ENDPOINT, PORT,DB_NAME)
print(conn_string)
%sql $conn_string

postgresql://dwhuser:dwhPassw0rd@dwhcluster.c3igqw1279zj.us-west-2.redshift.amazonaws.com:5439/dwh

'Connected: dwhuser@dwh'

### *Test queries run on cluster*

In [29]:
%%sql
staging_event << select count(*) as staging_event from staging_events;

 * postgresql://dwhuser:***@dwhcluster.c3igqw1279zj.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.
Returning data to local variable staging_event

In [30]:
%%sql
staging_songs << select count(*) as staging_songs from staging_songs;

 * postgresql://dwhuser:***@dwhcluster.c3igqw1279zj.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.
Returning data to local variable staging_songs

In [31]:
print('Count of data in staging tables')
print('staging_event' , staging_event)
print('staging_songs' , staging_songs)

Count of data in staging tables
staging_event +---------------+
| staging_event |
+---------------+
|      8056     |
+---------------+
staging_songs +---------------+
| staging_songs |
+---------------+
|     385252    |
+---------------+

In [32]:
%%sql
songs << select count(*) as songs from songs

 * postgresql://dwhuser:***@dwhcluster.c3igqw1279zj.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.
Returning data to local variable songs

In [33]:
%%sql
users << select count(*) as users from users

 * postgresql://dwhuser:***@dwhcluster.c3igqw1279zj.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.
Returning data to local variable users

In [34]:
%%sql
artists << select count(*) as artists from artists

 * postgresql://dwhuser:***@dwhcluster.c3igqw1279zj.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.
Returning data to local variable artists

In [35]:
%%sql
time << select count(*) as time from time

 * postgresql://dwhuser:***@dwhcluster.c3igqw1279zj.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.
Returning data to local variable time

In [36]:
%%sql
songplays << select count(*) as songplays from songplays

 * postgresql://dwhuser:***@dwhcluster.c3igqw1279zj.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.
Returning data to local variable songplays

In [37]:
print('count of data in fact table')
print('Songplays',songplays)

print('Count of data in dimension table')
print('Users ',users)
print('Songs',songs)
print('Artists',artists)
print('Time',time)

count of data in fact table
Songplays +-----------+
| songplays |
+-----------+
|   28799   |
+-----------+
Count of data in dimension table
Users  +-------+
| users |
+-------+
|  105  |
+-------+
Songs +--------+
| songs  |
+--------+
| 384995 |
+--------+
Artists +---------+
| artists |
+---------+
|  45266  |
+---------+
Time +------+
| time |
+------+
| 6660 |
+------+